* {
    margin: 0;
    padding: 0;
}


body {
     
    font-family: 'Lato', sans-serif;
 
}

header, main, menu, nav, li, button {
    display: inline-block;
}

a:hover {
    border-top: 5px solid green;

}

.header {
    background: #273B47;
    min-width: 280px;
    position: auto;
    top: 0;
    width: 100%;
}

.header-logo img {
    height: 30px;
    padding: 15px 0;
    width: 95px;
}

.menu-nav {
    display: block;   
    font-size: 18px;
    font-weight: bold;
    float: right;
    margin: 3px; 
}

/*a {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}*/

.barra {
    border-right: 2px solid #fff;   
}

.menu-nav ul li a  {
 
    color: #fff;
    list-style-type: disc;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
}

.header .wrap {
    max-width: none;
    padding: 0 10px;
}


.inicia{
    float: right;    
    margin-top: 10px;
    padding: 10px;
}

.wrap {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 15px;
}

.menu {
    margin-top: 15px;
    display: inline-block;
    font-size: 1em;
    position: relative;
}

.promoted {
    background: #efefef;
}

.promoted-post .post-image {
    height: auto;
    max-height: 390px;
    min-height: 300px;
}

.promoted-post {
    margin-bottom: 2em;
    position: relative;
}
.post-image {
    height: 215px;
    margin: 0;
    overflow: hidden;
}
 img {
     width: 100%;
     /*height: auto;*/
 }
.promoted-post .promoted-data {
    background: rgba(255,255,255,0.8);
    bottom: 30px;
    left: 20px;
    padding: 1em;
    position: absolute;
    width: 480px;
    height: 120px;
}
.cover {
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1000px;
}

.post-tittle {
    padding-bottom: 20px;
    color: #515151;
    font-weight: normal;
    text-decoration: none;
    /*-webkit-justify-content: justify;
            justify-content: justify;*/
    display: block;
}    

.post-tittle h2{
    border-bottom: 2px solid #c1c1c1;
    padding: 10px 0;
    margin-bottom: 10px;
}

.author{
    display: inline-block;
}

.date{
    float: right;
}

.padre {
    width: 1000px;
    margin: 7px auto;
    display: flex;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    /*width: 1200px;*/
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;

}

.hijo { 
    margin: 5px 0;
    
    /*padding: 10px;*/
    width: 32%;
    /*background: peru;*/
    /*border: 1px solid #111;*/
    height: auto;
    display: inline-block;
}

@media(max-width: 480px) {
    .promoted {
        /*width: 460px;*/
    }

    .hijo {
        width: 70%;
    }
}

@media(max-width: 980px) {
    .padre {
        width: 95%;
        background: blue;
    }

    .hijo {
        width: 45%;
    }
}
@media(max-width: 640px) {
    .padre {
        /*width: 620px;*/
    }

    .hijo {
        width: 80%;
    }
}
